<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data driven Basics">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener
			class-name="com.myOrganization.listeners.CustomListeners" />
	</listeners>


	<test name="SoapRequestTest">
		<classes>
			<class name="com.myOrganization.testCases.soapRequestTest" />
			<class name="com.myOrganization.base.TestBase" />
		</classes>
	</test> <!-- Test -->

	
	
</suite> <!-- Suite -->
